* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;

    --ttHeading: #0c3440;
    --ttLabel: #004531;
    --ttInput: #212529;
    --otInput: #02799d;
    --bdInput: rgba(71, 80, 87, .3);
    --ttPlceholder: rgba(73, 80, 87, .5);
    --bgInput: #DCE2E9;
    --ttButton: white;
    --bgButton1: #02799D;
    --ttError: white;
    --bgError1: #F03E3E;
    --bgButtonHover: #01475c;
}
body {
    background: linear-gradient(to right top, #5fc79f, #31c0b3, #00b7c3, #00accd, #3d9fd0, #459fd1, #4b9fd2, #529fd3, #3eadd7, #34bad6, #3ec6d1, #56d1c9);
    font-family: 'Roboto', sans-serif;
}
input, button, body {
    font-size: 1.6rem;
    line-height: 2rem;

}

.container {
    height: 100vh;
    display: grid;
    place-content: center;
}

.card {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    max-width: 42.8rem;
    background: white;
    margin-inline: auto;

    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .1);
    border-radius: .6rem;
}

.title {
    font-size: 3.2rem;
    line-height: 4rem;
}

form {
    width:30rem;
}

form h1{
    margin-bottom: 3.2rem;
}

form label {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--label);
    margin-bottom: .8rem;
    display: block;
}

form input {
    width: 100%;
    background: var(--bgInput);
    border: 1px solid var(--bdInput);
    border-radius: .4rem;
    padding: 1.6rem;
}

form input::placeholder{
    color: var(--ttPlceholder);
}

form input:focus {
    outline: 2px solid var(--otInput);
}

.inputWrapper {
    margin-bottom: 1.6rem;
}

form button {
    margin-top: 1.6rem;
    padding: 1.6rem;
    width: 100%;
    border: none;
    background-color: var(--bgButton1);
    color: var(--ttButton);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    border-radius: .4rem;
    font-weight: bold;
    cursor: pointer;
    transition: background .38s;
}

form button:hover {
    background: var(--bgButtonHover) ;

}

.modalWrapper{
    position: absolute; 
    inset: 0; /**/
    background: rgba(0, 0, 0, 0.7);
    display: grid;
    place-content: center; /**/
    opacity: 0;
    visibility: hidden ;
}

.modal {
    position: relative;
}

.modal button {
    background: none; /**/
    border: none;

    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    cursor: pointer;
    transition: transform .3s;
    font-weight: 700;
    opacity: 0.37;
}

.modal button:hover {
    transform: scale(1.1);
}

.modalWrapper.open {
    opacity: 1;
    visibility: visible;
}

.alertError {
    position: absolute;
    background-color: var(--bgError1);
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: var(--ttError);
    font-weight: bold;
    padding: .8rem 0;
    opacity: .83;

    visibility: hidden;
    opacity: 0;
    transform: translateY(-30px);

    transition: transform .5s;
}

.alertError.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}