* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
    color: white;
}

.gradient-1 {
    z-index: -1;
    border-radius: 155.26063rem;
    background: conic-gradient(from 180deg at 50% 50%, rgba(217, 217, 217, 0.10) 0deg, rgba(41, 127, 255, 0.10) 0.035999999090563506deg, rgba(191, 56, 255, 0.10) 78.75deg, rgba(207, 104, 255, 0.10) 187.49999284744263deg, rgba(40, 203, 255, 0.10) 268.1250071525574deg, rgba(225, 161, 255, 0.10) 360deg);
    position: absolute;
    width: 155.26063rem;
    height: 155.26063rem;
    transform: rotate(-45deg);
    filter: blur(250px);
    right: -12rem;
    top: -58rem;
}
.gradient-2 {
    z-index: -2;
    border-radius: 155.26063rem;
    background: conic-gradient(from 180deg at 50% 50%, rgba(141, 255, 27, 0.06) 0deg, rgba(41, 127, 255, 0.06) 0.035999999090563506deg, rgba(56, 112, 255, 0.06) 97.50000357627869deg, rgba(15, 123, 251, 0.06) 187.49999284744263deg, rgba(0, 194, 255, 0.06) 283.1249928474426deg, rgba(225, 161, 255, 0.06) 360deg);
    position: absolute;
    width: 155.26063rem;
    height: 155.26063rem;
    transform: rotate(-45deg);
    filter: blur(250px);
    left: -10rem;
    top: 25rem;
   
}

body {
    z-index: -8;
    width: 100vw;
    height: auto;
    background: var(--Unnamed-Color, #04011C);
    overflow-x: hidden;
    position: relative;
    
}

.container {
    max-width: 90rem;
    padding: 0 5rem;
    margin: 0 auto;
    z-index: -5;
    position: relative;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-8 {
    margin-bottom: 8rem;
}

header {
    margin-top: 2.3rem;
    margin-bottom: 14rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    column-gap: 2.81rem;
}

.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    margin-bottom: 10rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    position: relative;
}

.hero-text img {
    width: 5.25rem;
    position: absolute;
    right: 1.15rem;
    top: 12.33rem;
}

.hero-img {
   position: relative;
}

.hero-img picture {
    width: 31rem;
    height: auto;
    border-radius: 35rem;
    position: absolute;
    top: -6rem;
    right: 0;
}
.hero-img picture img {
    transform: scale(118%);
    position: relative;
    left: 2rem;
    top: 2.8rem;
}
.shape {
    top: -9.2rem;
    right: -5.92rem;
    position: absolute;
}

.circle {
    background-color: #07003E;
    width: 12rem;
    height: 12rem;
    font-family: 'Axiforma';
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 8rem;
    border: 1px solid #DF1CFF ;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    top: 18rem;
    left: 6rem;
    line-height: 115%;
}


.overview {
    display: grid;
    width: 49rem;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 4rem;
    margin-bottom: 8rem;
    position: relative;
}

.ov-title {
    grid-column: span 4;
    display: flex;
    align-items: center;
    justify-self: flex-start;
}

.sec-1 {
    text-align: center;
    margin-bottom: 8rem;
}

.sec-1 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5.06rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, auto) ;
    grid-gap: 2rem ;
    margin-bottom: 4rem;
}

.card-img {
    margin-bottom: 1.55rem;
    overflow: hidden;
    width: 21rem;
    height: 26rem;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
}


.card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.eth {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.44rem;
}

.stars {
    margin-top: 0.5rem;
    text-align: start;
    transition: all .7s; 
}

.card-title h5 {
    margin-top: 0.45rem;
}

.card:hover .botao {
    height: auto;
    transition: all 0.7s ease;
    max-height: 200px;
}

.card:hover .but-card {
    pointer-events: auto;
}

.card:hover .card-img {
    height: 21rem;
}

.card .card-img {
    transition: all .5s ease;
}

.card:hover .stars  {
    margin-bottom: 2rem;

}

.sec-2-tittle {
    text-align: center;
}

.sec-2 {
    margin-bottom: 8rem;

}

.sec-2-tittle h2 {
    margin-bottom: 5.33rem;
    margin-top: 1.5rem;
}

.cards-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.sec-3 {
    text-align: center;
    margin-bottom: 8rem;
}

.photos {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

picture img {
    width: 100%;
    
}
picture {
    display: inline-block;
    overflow: hidden;
    border-radius: 1rem;
}

.pic-1 {
    width: 25.14rem;
    height: 26rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.pic-2 {
    width: 52rem;
    height: 26rem;
    margin-bottom: 2rem;
}


.pic-3 {
    width: 51rem;
    height: 26rem;
    margin-right: 2rem;
}

.pic-4 {
    width: 26rem;
    height: 26rem;
}

.pic-4 img{
    transform: scale(150%);
    position: relative;
    filter: brightness(68%);
    top: 70px
}

.pic-1 img {
    position: relative;
    top: -8rem;
    width: 115%;
    transform: rotate(-90deg); 
}

.pic-2 img {
    position: relative;
    top: -4rem;
}

.pic-3 img {
    position: relative;
    top: -5.3rem;
}

.sec-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;
}

.sec-5{
    display: flex;
    margin-bottom: 8rem;
}

.sec-5-text img {
    width: fit-content;

}

.sec-5-text {
    display: flex;
    flex-direction: column;
    min-width: 27.375rem;
    margin-right: 4.5rem;

}

.sec-5-text h2 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;

}

.sec-5-text p {
    margin-bottom: 4rem;
} 

.article picture{
    width: 27.175rem;
    height: 17.5rem;
    border-radius: 1.5rem;

}
.article picture img{
    width: 34rem;
    height: auto;
}

.article h4{
    font-size: 1.75rem;
    font-weight: 600;
}

.article p{
    margin-top: 1.5rem;
    margin-bottom: 1.06rem;
}

.article {
    margin-right: 2rem;
}

.articles {
    display: flex;
    margin-right: -10.75rem;
}

.sec-6 {
    text-align: center;
    width: 44.75rem;
    margin: 0 auto 8rem auto;
}


.sec-6 input {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sec-6 p {
    max-width: 38rem;
    margin: 0 auto;
}
