@import url(layout.css);
@font-face {
    font-family: 'Axiforma';
    src: url(Assets/fonts/Kastelov\ -\ Axiforma\ Black.otf);
    font-weight: 900;
}
@font-face {
    font-family: 'Axiforma';
    src: url(Assets/fonts/Kastelov\ -\ Axiforma\ Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: 'Axiforma';
    src: url(./Assets/fonts/Kastelov\ -\ Axiforma\ SemiBold.otf);
    font-weight: 600;
}
@font-face {
    font-family: 'Axiforma';
    src: url(Assets/fonts/Kastelov\ -\ Axiforma\ Light\ Italic.otf);
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'Axiforma';
    src: url(Assets/fonts/Kastelov\ -\ Axiforma\ Regular.otf);
    font-weight: 400;
}

:root {
    --logo: #DF1CFF;
    
}

.blue, h1, h2, h3, h4, h5 , h6 {
    font-family: 'Axiforma';
}

a, li, button, input{
    text-decoration: none;
    list-style: none;
    border-style: none;
}

p {
    font-size: 1.25rem;
    opacity: 0.8;
    font-weight: 300;
    line-height: 140%;
    font-family: 'Helvetica'
}


h1 {
    font-size: 3.48356rem;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
font-weight: 900;
line-height: 130%;
font-size: 2.5rem;
}

h4 {
font-size: 1.375rem;
font-weight: 600;
}

.blue {
    color: #1EE0E1;
    font-weight: 300;
    line-height: 130%;
    font-style: italic;
}

.logo {
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    color: var(--logo)
}

.navbar a {
    color:rgba(255, 255, 255, 0.43);
    font-size: 1.25rem;
}

.neon-button {
    border-radius: 0.5rem;
    border: 1.8px solid var(--Unnamed-Color, #E50AA7);
    background: var(--Unnamed-Color, rgba(255, 255, 255, 0.05));
    box-shadow: 0px 16px 80px 0px rgba(208, 17, 204, 0.15);
    padding: 0.75rem 2.5rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.pink-button {
    border-radius: 0.5rem;
    background: var(--logo);
    padding: 0.75rem 2.5rem;
    align-self: flex-start;
    box-shadow: 0px 9px 100px 0px rgba(208, 17, 204, 0.35);
    font-weight: 700;
    font-size: 1.25rem;
}

.ov-title img {
    width: 3rem;
    margin-right: 1rem;

}

.custom-text {
    font-size: 1.25rem;
    opacity: 0.8;
    margin-bottom: .8rem;
    display: inline-block;
    font-family:'Helvetica';
}

.sec-1 ul li {
    font-size: 1.375rem;
    font-weight: 500;
    cursor: default;
    
}


.card {
    background-color: #17133A;
    padding: 2rem;
    height: 36.2rem;
    border-radius: 1rem;
}

.botao .pink-button {
    display: block;
}

.botao {
    max-height: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    background: var(--logo);
    transition: all .5s ease;
}

.card-container {
    overflow: hidden;
    max-height: 32.2rem;
}

.card-2 {
    width: 39rem;
    height: 13.4655rem;
    border-radius: .5rem;
    position: relative;
}

.card-2-text {
    background-color: #17133A;
    padding: 3.44rem 5rem 3.15rem 3.5rem;
    border-radius: .5rem;
    margin-top: 1.33rem;
}

.card-2 h5 {
    margin-bottom: 1.5rem;
}

.card-2 img{
    position: absolute;
    background-color: #050421;
    padding: 1.58rem;
    border-radius: .5rem;
    width: 7.65431rem;
    right: -20px;
    top: -30px;
    display: block;
}

.get {
    text-align: center;
    font-family: 'Axiforma';
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 800;
    position: relative;
    margin-bottom: 1.5rem;
}

input {
    width: 44.75rem;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    background: var(--Unnamed-Color, #0D0D2D);
    
    margin: 0 auto;
    font-family: 'Axiforma';
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 118.5%; 
    color: var(--Unnamed-Color, rgba(255, 255, 255, 0.56));
}


hr {
    width: 100%;
    opacity: .1;
    display: block;
    margin-bottom: 4rem;
    margin-top: 4rem;
  
}